body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

.row {
  width: 105vw;
}

#rank {
  text-align: center;
}
.tab {
  margin-left:10px;
}

.tabPane {
  width: 105vw;
  height: 100vh;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  margin-left: 20px;
  width: 160px;
}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}

.marker {
  min-width: 100px;
  font-size: 10pt;
  padding: 2px;
  font-color: white;
  background-color:rgba(256, 256, 256, 0.8);
}

.green {
  color: green;
  font-weight: bold;
}

.black {
  color: black;
}

.red {
  color: red;
  font-weight: bold;
}

.indexJumbotron {
  width: 100%;
  padding: 20px;
  padding-left: 30px;
  background-color: #e9ecef;
}

.button_link: link {
  color: 'white';
}

.button_link: visited {
  color: 'white';
}